<!-------------------------start header_page--------------------------->
<div class="header_page red">
    <div class="menu"><img src="img/menu_w.png"></div>
    <div class="header_text">سبد خرید</div>
    <div class="buys">
        <a class="back_icon" href="#/"><img src="img/icon_left.png"></a>
    </div>
    <div class="clear"></div>
    <div class="your_order" >سفارش های شما</div>
</div>
<cart-detail>
<!-------------------------start content--------------------------->
<div class="content">
    <div class="content_main">
        <div class="gap"></div>
        <div class="gap"></div>
        <!-------------------------start product_cart--------------------------->
        <div class="product_cart">
            <!-------------------------start shopping_cart--------------------------->
            <div class="shopping_cart bw" ng-repeat="card in card">
                <span class="close_btn" p_id="{{card.ID}}" price="{{card.regular_price}}" ng-if="!card.sale_price" ></span>
                 <span class="close_btn" p_id="{{card.ID}}" price="{{card.sale_price}}" ng-if="card.sale_price" ></span>
                <div class="cart_img">
                    <img ng-src="{{card.img}}" ng-if="card.img" >
                    <img src="img/no-img.jpg" ng-if="!card.img">
                </div>
                <div class="detail_cust">
                    <p>{{card.post_title}}</p>
                    <span ng-repeat="attribute in card.attributes">{{attribute.name}} : {{attribute.value}}</span>
                </div>
                <div class="cust_cart" ng-if="!card.sale_price">{{card.regular_price | currency : '' : 0}} تومان</div>
                <div class="cust_cart" ng-if="card.sale_price">{{card.sale_price | currency : '' : 0}} تومان</div>
                <div class="clear"></div>
               
            </div>
             <div class="top20px" ng-if="card.length == 0 || !card">
                      سبد خرید شما خالی است !
                </div>
             <!-------------------------end shopping_cart--------------------------->
             <div class="total_shipping bw">
            <div class="shipping_cust">
                    <span class="name">مجوعه هزینه</span>
                    <span class="value"><i id="price">{{cost | currency : '' : 0}}</i> تومان </span>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            
            <div class="payment_method bw">
                <div class="header_payment ">
                   روش های پرداخت
                </div>
                <div id="payment_method" class="online_payment payment_method_chech ">
                    <label>
                        <input class="chech" type="radio" name="payment"  checked value="0" ><ico></ico>
                         پرداخت اینترنتی
                        
                    </label>
                    <p>
                    پرداخت اینترنتی با کلیه کارت های عضو شتاب
                    </p>
                    <img src="img/bank_Logo.png">
                </div>
                <!-------------------------end payment_method--------------------------->
                <div id="payment_method" class="offline_payment">
                    <label>
                        <input  class="chech"  type="radio" name="payment" value="1" ><ico></ico>
                          پرداخت در محل
                    </label>
                     <p>
                   وجه سفارش خود را بصورت نقدی یا با استفاده از کارت بانکی خود در محل دریافت پرداخت نماید.
                    </p>
                </div>
            </div>
            <!-------------------------end payment_method--------------------------->
            <div class="button_place_order">
                <button id="buy">تکمیل خرید</button>
            </div>
            <div  class="button_cancel">
                <button id="cancell">خالی کردن سبد خرید</button>
            </div>
        </div>
        <!------------------------- --------------------------->
    </div>
</div>
</cart-detail>
<div class="swipe_color"></div>
<!-------------------------end content--------------------------->
