<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="ir.atriatech.pooshakkhanevade" version="1.0.0">
  <name>پوشاک خانواده</name>
  <description>Shopping</description>
  <author href="http://atriatech.ir" email="info@atriatech.ir">ATRIATECH</author>
 <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="UIWebViewBounce" value="false" />
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>

  <icon src="icon.png" />
  <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  
    <splash src="res/screen/android/splash-land-hdpi.png" gap:platform="android" density="land-hdpi"/>
    <splash src="res/screen/android/splash-land-ldpi.png" gap:platform="android" density="land-ldpi"/>
    <splash src="res/screen/android/splash-land-mdpi.png" gap:platform="android" density="land-mdpi"/>
    <splash src="res/screen/android/splash-land-xhdpi.png" gap:platform="android" density="land-xhdpi"/>
    <splash src="res/screen/android/splash-port-hdpi.png" gap:platform="android" density="port-hdpi"/>
    <splash src="res/screen/android/splash-port-ldpi.png" gap:platform="android" density="port-ldpi"/>
    <splash src="res/screen/android/splash-port-mdpi.png" gap:platform="android" density="port-mdpi"/>
    <splash src="res/screen/android/splash-port-xhdpi.png" gap:platform="android" density="port-xhdpi"/>


 
  <access origin="*"/>
</widget>