<!-------------------------start header_page--------------------------->
<div class="header_page">
    <div class="menu"><img src="img/menu.png"></div>
    <div class="header_text">محصولات</div>
    <div class="buys">
        <a class="tags" href="#/wishlist"><img src="img/tag.png"></a>
        <a class="buy_bs" href="#/cart"><span>{{card_count}}</span><img src="img/buy-bs.png"></a>
    </div>
    <div class="clear"></div>
</div>
<!-------------------------start content--------------------------->
<div class="content">
    <div class="content_main">
       <div class="gap"></div>
        <!------------------start search------------------------->
        <div class="search_box"><input type="text" ng-model="search.$" name="search" placeholder="جستجو ..." ><span><img src="img/search.png"></span></div>
        <!------------------end search------------------------->
        <!------------------start header product------------------------->
        <div class="product_h2">
            <span></span>
                <h2 ng-if="activeCategory != 'همه'">{{activeCategory}}</h2>
                <h2 ng-if="activeCategory == 'همه'">محصولات پوشاک خانواده</h2>
            <span></span>
        </div>
        <!------------------end header product------------------------->
        <div class="product"  >
        <!------------------------------------------->
         
            <div ng-repeat="product in product | filter:{category:activeCategory} | filter:search" href="#/product/{{product.ID}}" class="product_one" >
                <img ng-src="{{product.img}}" ng-if="product.img">
                <img ng-src="img/no-img.jpg" ng-if="!product.img">
                <div class="detail">
                    <span class="product_name">{{product.post_title}}</span>
                    <span class="product_cust" ng-if="!product.sale_price">{{product.regular_price | currency : '' : 0}} تومان</span>
                    <span style="color:#999" class="product_cust" ng-if="product.sale_price"><strike>{{product.regular_price | currency : '' : 0}} تومان </strike></span>
                    <span class="product_cust" ng-if="product.sale_price">{{product.sale_price | currency : '' : 0}} تومان</span>
                </div>
            </div>
  
        <!------------------------------------------->
        <div class="clear"></div>
        </div>
        
        <!------------------------------------------->
    </div>
    
</div>
<div class="swipe_color"></div>
<!-------------------------end content--------------------------->